.form-container .input-marginating {
    margin-top: 5px;
    width: 95%;
}

.form-container .input-marginating:invalid {
  box-shadow: 0 0 5px 1px red;
}

.form-container .ant-form {
  height: 40px;
  display: flex;
  justify-content: center;
}

.form-container .ant-form-item-control-input-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container .ant-form-inline .ant-form-item{
    margin-right:0px ;
}

